.expert-section-heading {
    color: #717171 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
    margin-bottom: 12px !important;
    margin-top: 60px !important;
    text-transform: none !important;
  }